@model IEnumerable<SmartHup.Models.UserGroup>
@{Dictionary<Tuple<string, string>, bool> menu = ViewBag.menu;
    if (menu == null)
    {menu=new Dictionary<Tuple<string, string>, bool>(); }
 }

@{
    
}


     @if (menu.ContainsKey(Tuple.Create("UserGroup", "Create")))
        {
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class= "btn btn-success"})
    </p>
    }
    <link href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        
    	<div class="box container-fluid">
        <div class="box-header">
            </div>
            <div class="box-body">
                <table  class="table table-bordered table-striped" id="example1" >
    			 <thead>
    			<tr>
            <th>
                @Html.DisplayNameFor(model => model.UserGroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGroupArName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityStatu.EntityStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupType.GroupTypeName)
            </th>
            <th></th>
        </tr>
    	 <thead>
           <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGroupArName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityStatu.EntityStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupType.GroupTypeName)
            </td>
            <td>
    			@if( menu.ContainsKey(Tuple.Create("UserGroup","Edit")) ) {
    				@Html.ActionLink("Edit", "Edit", new { id=item.systemId },new{ @class = "fa fa-edit" }) 
    			}
    			@if( menu.ContainsKey(Tuple.Create("UserGroup","Details")) ){
    				@Html.ActionLink("Details", "Details", new { id=item.systemId }, new { @class = "fa fa-eye" }) 
    			}
    			@if( menu.ContainsKey(Tuple.Create("UserGroup","Delete")) ){
    				@Html.ActionLink("Delete", "Delete", new { id=item.systemId },new {@class="fa fa-remove"})
    			}
            </td>
        </tr>
    }
    </tbody>
                <tfoot>
    			
      </tfoot>
    </table>
    </div>
    </div>
    <script>
        $(function () {
            $('#example1').DataTable()
           })
    </script>
