@model IEnumerable<SmartHup.Models.Module>
@{
    ViewBag.Title = "AssignPagesToRole";
    List<long> authorizedAction = ViewBag.authAction;
    int counter = 0;
}

<h2>AssignPagesToRole</h2>

@using (Html.BeginForm("Assign", "Roles", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("roleId", (Decimal)ViewBag.roleId)
    <div>
        <table border="1">
            @foreach (var module in Model)
            {
                <tr>
                    <td class="btn-info">@module.name</td>
                </tr>
                for (var i = 0; i < module.Action.Count; i++)
                {
                    var actions = module.Action.ToArray();
                    <tr>
                        @Html.Hidden("list[" + counter + "].id", actions[i].systemId)
                        @Html.Hidden("list[" + counter + "].name", actions[i].name)
                        <td><center>@actions[i].name</center></td>
                        <td><center>@Html.CheckBox("list[" + counter + "].isChecked", authorizedAction.Contains(actions[i].systemId) ? true : false)</center></td>
                    </tr>
                    counter++;
                }
            }
        </table>
        <button type="submit" class="btn btn-primary">Assign</button>
    </div>
}





    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>